@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.container h1{
    text-align: center;
    font-size: 70px;
    margin-top: 2em;
}

.tempe{
    position: relative;
    left: 20em;
    top: 5em;
    display: inline-block;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background: black;
    text-align: center;
    color: white;
}

.tempe h2{
    padding: 2em;
    text-transform: uppercase;
}

.tempe p{
    font-size: 50px;
}

.curtain{
    position: relative;
    top: 25em;
    display: inline-block;
    width: 20em;
    height: 10em;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center 
}

.curtain h2{
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}
.curtain input {
    height: 3px;
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.curtain input:hover {
    opacity: 1;
}

.curtain input::-webkit-slider-thumb{
-webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px; 
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer; 
}

.lights{
    position: relative;
    top:-15em;
    left: 60em;
    height: 35em;
    width: 40%;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
}

.lights h2 {
    margin-top: 2em;
}

.ligh{
    display: inline-block;
    margin-top: 2em;
    width: 40%;
    height:30%;
    margin: 2em;
    border: 2px solid black;
    border-radius: 25px;
}

.ligh p{
    margin: 1em;
    font-size: 30px;
}

.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	display: inline-flex;
	align-items: center;
	margin: auto;
    padding-top: 1em;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.l:before, .l:after {
	content: "";
	display: block;
}

.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}

.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}

.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}

.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}

.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}